{"timestamp":"2023/11/22 01:09:04","dest_ip":"dest_ip_var","dest_mac":"dest_mac_var","dest_port":"53","message_type":["QUERY","RESPONSE"],"name":["name_var"],"protocol_stack":"ip:udp:dns","query":["query_var"],"query_type":["A"],"reply_code":"NoError","reply_code_id":0,"response_time":262,"src_ip":"src_ip_var","src_mac":"src_mac_var","src_port": "src_port_var","time_taken":262,"transaction_id":46674,"transport":"udp","ttl":[229,49,49]}
