{"endtime":"2023-11-22T01:21:18.991735Z","timestamp":"2023-11-22T01:21:18.991473Z","bytes":192,"bytes_in":39,"bytes_out":153,"dest_ip":"<dest_ip>","dest_mac":"<dest_mac>","dest_port":53,"flow_id":"19f68633-e7a7-4edc-b557-cbaae6cde9a8","message_type":["QUERY","RESPONSE"],"name":["<name>"],"protocol_stack":"ip:udp:dns","query":["<query>"],"query_type":["A"],"reply_code":"NoError","reply_code_id":0,"response_time":262,"src_ip":"<src_ip>","src_mac":"<src_mac>","src_port": "<src_port>","time_taken":262,"transaction_id":46674,"transport":"udp","ttl":[229,49,49]}
